<h1>Hire my Services</h1>
<div class="home-middle">
  <a href="/purchase" class="image">
    <p class="hover-button-text">Place an order</p>
  </a>
  <div class="image-bcg"></div>
</div>
<div class="home-bottom">
  <p class="info">The wonderful mix of knowledge with the enthusiasm to learn, makes me a great addition to any
    team!</p>
</div>
