<h1>Thank you for offering to hire me!</h1>
<div class="home-middle">
  <div class="image" id="submit-image">
    <p class="hover-button-text submit-thanks">Thanks!</p>
  </div>
  <div class="image-bcg"></div>
</div>
<div class="home-bottom">
  <p class="info">An email will be sent to you shortly so please check your inbox</p>
</div>
